 
/*************************************
    contact pages styles
*****************************************/
.flex_container {
    display : flex;
	flex-flow: column wrap;
    justify-content: center;
    color: #3b5e55;
  }

.flex_container h1 {
  color: #3b5e55;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  padding:0;
  border:50px 0 0 0 ;
  margin-bottom: 60px;
  margin-top : 120px;
}

.image_contact{
	flex-flow:row wrap;
	justify-content:center;
	height:30px;
	width: 30px;
}



.flex_item_margin{
	display:flex;
	flex-flow:column wrap;
	justify-content:flex-start;
	width: 800px;
	padding:10px;
	margin:0 0 0 50px;
}

.flex_item_bouton{
	display:flex;
	flex-flow:column wrap;
	justify-content:flex-start;
	width: 50px;
	padding:10px;
	margin:50px;
}

.flex_item{
	display:flex;
	justify-content:flex-start;
	align-items:center;
	padding:10px;
}

.flex_item_center{
	display:flex;
	justify-content:center;
	align-items:center;
	padding:10px;
}

@media screen and (min-width: 350px) and (max-width : 800px) {

	.flex_container h1 {
		font-size: 25px;
        border:20px 0 0 0 ;
        margin-bottom: 20px;
        margin-top : 40px;
		}

	.flex_item_margin{
		width: calc(100% - 100px);
		padding:10px;
		margin:0 0 0 20px;
		}
}

@media screen and (max-width: 350px) {

	.flex_container h1 {
		font-size: 18px;
        border:20px 0 0 0 ;
        margin-bottom: 20px;
        margin-top : 50px;
		}

	.flex_item_margin{
		width: 80%;
		margin:0 0 0 10px;
		}
}


/*************************************
    Animations
*****************************************/

@keyframes animation1 {
		0% {
			transform: scale(0.0);
			opacity: 0;
		}
		60% {
			transform: scale(1.2);
			opacity: 1;
		}
		100% {
			transform: scale(1.0);
		}
}

#contact_title {
	 	animation-name: animation1;
		animation-duration: 5s;
		animation-timing-function:ease-in-out;
		animation-iteration-count: 1;
}