/*************************************
    It's all about style
*****************************************/
body {
    font-family: Helvetica, Arial, sans-serif;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
}

/*************************************
    Menu display

    Burger Menu, courtesy of Erik Terwan
    @ https://codepen.io/erikterwan/pen/EVzeRP

*****************************************/
.navbar {
    display: flex;
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    background-color: #588c7e;
    justify-content: space-between;
}

#menuToggle {
    display: inline-block;    
    z-index: 1;  
    -webkit-user-select: none;
    user-select: none;
    margin-top: 15px;
}

#menuToggle a {
    text-decoration: none;
    color: white;  
    transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: royalblue;
}

/* Clickable zone of the burger */
#menuToggle input {
    display: block;
    width: 60px;
    height: 60px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-left: 15px;
  margin-bottom: 5px;
  position: relative;  
  background: white;
  border-radius: 3px;  
  z-index: 1;  
  transform-origin: 4px 0px;  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 150px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 100px;  
  background: #588c7e;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  padding: 12px 0 0 10px;
  font-size: 20px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

/*** Outside Index page the title of the page can be a link to index, thus
removing decoration ***/
.pageTitleLink {
    text-decoration: none;
}

.pageTitle {    
    font-size: 26px;
    color: white;
}


/*******************************************************
    course level key : beginner/intermediate/advanced;
********************************************************/
.beginner {
    background-color: green;
    color: white;
    border-radius: 30px;
    text-align: center;
    height: 20px;
    width: 20px;
}

.intermediate {
    background-color: orange;
    color: white;
    border-radius: 30px;
    text-align: center;
    height: 20px;
    width: 20px;
}

.advanced {
    background-color: red;
    color: white;
    border-radius: 30px;
    text-align: center;
    height: 20px;
    width: 20px;
}
/*************************************
    Home page style
*****************************************/
#homepage {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    height: 800px;
}

.welcome {
    background-color: #f2e394;
    width: 100%;
    text-align: center;
    height: 120px;
    padding-top: 20px;
}

.themediv {    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    position: relative;
}

.themedescription {
    position: absolute;
    background: #588c7e;
    color: #fff;
    visibility: hidden;
    opacity: 0;    
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
    height: 250px;
    text-align: center;
    padding-top: 150px;
    border: 1px solid #588c7e;
    border-radius: 10px;
}

.themediv:hover .themedescription {
    visibility: visible;
    opacity: 0.97;
}


.themediv a {
    display: block;
    align-self: center;
    text-decoration: none;
}

.themediv h2 {
    text-align: center;
    color:#588c7e;
    font-size: 28px;
    height: 40px;
    margin-bottom: 0;
}

.hmtlicon {
    display: block;
    color: #fd7e14;
    font-size: 20em;
    margin-top: 0;
    align-self: flex-start;
}

.cssicon {
    color: #82c91e;
    font-size: 20em;
}

.jsicon {
    color: #be4bdb;
    font-size: 20em;
}


/*************************************
    Theme pages styles
*****************************************/
.content {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 80px;
    color: #588c7e;
}

.theme {
   display: flex;
   flex-flow: row wrap;
   margin-left: 3vw;
}

.description {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: space-around;
  margin-left: 3vw;
}

.link {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.link a {
    color: #588c7e;
    background-color: #d0e2dd; 
    border-radius: 10px;
    text-decoration: none;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 1.5px;
    padding-bottom: 1.5px; 

}

/*************************************
    Footer style
*****************************************/
.footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height: 60px;
    background-color: #588c7e;
    display: flex;    
    align-items: center;
    justify-content: center;
}

.footer a {
    font-size: 14px;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}